@model IEnumerable<LR1.Models.Course>

@{
    ViewData["Title"] = "Курсы";
}

<h2>Курсы</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Название предмета
                    @*@Html.DisplayNameFor(model => model.Title)*@
                </th>
                <th>
                    Учебных часов
                    @*@Html.DisplayNameFor(model => model.StudyCredits)*@
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyCredits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
